@model Actor

@{
    ViewData["Title"] = "Update actor details";
}

<div class="row text">
    <div class="col-md-8 offset-2 align-items-center">
        <p>
            <h1>Delete Actor Details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center ">
                        <img class="border-info rounded-circle" style="max-width:150px" id="ProfilePicturePreview" />
                    </div>

                    <div class="form-group py-2">
                        <label class="control-label" asp-for="ProfilePictureUrl"></label>
                        <input class="form-control" asp-for="ProfilePictureUrl" />
                        <span class="text-danger" asp-validation-for="ProfilePictureUrl"></span>
                    </div>
                    <div class="form-group  py-2">
                        <label class="control-label" asp-for="FullName"></label>
                        <input class="form-control" asp-for="FullName" />
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                    <div class="form-group  py-2">
                        <label class="control-label" asp-for="Bio"></label>
                        <input class="form-control" asp-for="Bio" />
                        <span class="text-danger" asp-validation-for="Bio"></span>
                    </div>
                    <div class="form-group py-4">
                      
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input class="btn btn-danger float-end" type="submit" value="Confirm Delete" />
                        </form>
                        <a class="btn btn-info text-white" asp-action="Index">View All  </a>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(ProfilePictureUrl).val();
        })

        $("#ProfilePictureUrl").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}