@model Actor

@{
    ViewData["Title"] = "Actor Details";
}

<div class="row text">
    <div class="col-md-8 offset-2 align-items-center">
        <p>
            <h1>@Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

                <div class="form-group text-center ">
                    <img class="border-info rounded-circle" style="max-width:150px" id="ProfilePicturePreview" />
                </div>

                <div class="form-group py-2">
                    <label class="control-label" asp-for="ProfilePictureUrl"></label>
                    <input class="form-control" asp-for="ProfilePictureUrl" readonly />
                    <span class="text-danger" asp-validation-for="ProfilePictureUrl"></span>
                </div>
                <div class="form-group  py-2">
                    <label class="control-label" asp-for="FullName"></label>
                    <input class="form-control" asp-for="FullName" readonly />
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="form-group  py-2">
                    <label class="control-label" asp-for="Bio"></label>
                    <input class="form-control" asp-for="Bio" readonly />
                    <span class="text-danger" asp-validation-for="Bio"></span>
                </div>
                <div class="form-group py-4">
                    <a class="btn btn-info text-white" asp-action="Index">View All  </a>
                    <a class="btn btn-danger text-black float-end" asp-action="Edit" asp-route-id ="@Model.Id" >Edit  </a>
                    

                </div>


            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(ProfilePictureUrl).val();
        })
    </script>
}