
@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
   <div class="col-md-6 offset-3">
        <h1>You have reached the end of the page / Data Inappropriate.</h1>
        <hr />
        <a class="btn btn-info" asp-controller="Movies" asp-action="Index">Home</a>
   </div>
  
</div>
